<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="81200471-bc2c-4c2e-acb9-595013466391" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="81200471-bc2c-4c2e-acb9-595013466391fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
